<div class="container" *ngIf="voiture">
    <div class="row">
        <div class="col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="img-thumbnail" src="/assets/1349_W750.jpg" alt="First slide">
                  </div>
              </div>
            </div>
            <div style="margin-top: 10px;">
            <label style="margin-right : 10px">Nombre de places</label>
            <input type="text" readonly value="{{voiture.nb_places}}"/>
            </div>
            <div style="margin-top: 10px;">
                <label style="margin-right : 10px">Nombre disponible</label>
                <input type="text" readonly value="{{voiture.nb_dispo}}"/>
            </div>
            <div>
                <a class="btn btn-success" [routerLink]="['/modif-voiture/'+ id]">Edit</a>
                <a (click)="onDeleteClick()" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="col-md-7">
            <p *ngIf="voiture.disponiblite == 'Oui'" class="newarrival text-center">Disponible</p>
            <p *ngIf="voiture.disponiblite == 'Non'" class="newarrival text-center" style="background-color:red;">non Disponible</p>
            <h2>{{voiture.modele}}</h2>
            <p class="price">USD : {{voiture.prix|currency}}</p>
            <p><b>Date de fabrication : </b>{{voiture.fabrication_date}}</p>
            <p><b>Vitesse Max : </b>{{voiture.Vitesse_max}} Km/h // {{voiture.Vitesse_max*0.62}} Mph</p>
            <p><b>Vitesse Moyenne : </b>{{voiture.Vitesse_Moy}} Km/h // {{voiture.Vitesse_Moy*0.62}} Mph</p>
            <p><b>Type : </b>{{voiture.Type}}</p>
            <hr>
            <h4> Enérgie : </h4>
            <p><b>Consommation énergie : </b>{{voiture.consommation_energie}}</p>
            <p><b>Gamme éléctrique : </b>{{voiture.Gamme_electrique}}</p>
            <p><b>Capacité batterie : </b>{{voiture.Batterie_Capacite}}</p>


        </div>
            
</div>
</div>